/* RereshButton.module.css */

.button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #f0f0f0; /* Change color on hover if needed */
}

.button:focus {
  outline: none; /* Remove focus outline */
}
